body {
  background-color: rgba(255, 68, 0, 0.329);
}

nav {
  background-color: #f22b0c;
  height: 60px;
}

header nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

header nav .links a {
  text-decoration: none;
  color: azure;
  font-size: 22px;
  font-family: sans-serif !important;
  transition: 300ms;
}

header nav .links a:hover {
  background-color: azure;
  color: orangered;
  border-radius: 10px;
}

header nav .links a img {
  height: 60px;
  width: 190%;
}

header nav .burger {
  display: none;
}

/*! Media Querries */
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  header nav {
    width: 100% !important;
  }

  header nav .links {
    display: none;
    flex-direction: column;
    padding: 0;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 60px;
    text-align: center;
    z-index: 999;
  }

  header nav .links a {
    width: 100%;
    padding: 24px 0;
    border-radius: 0;
    border-top: 1px solid azure;
  }

  header nav .burger {
    display: block !important;
    color: azure;
    font-size: 30px;
    padding: 15px;
  }

  header nav .links a img {
    display: none;
  }

  header nav .links .logo {
    display: none;
  }

  section .gallery img {
    height: 100px;
    width: 100%;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  header nav .links {
    width: 60% !important;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  header nav .links {
    width: 100% !important;
  }
}
/* !End */

/* ! google fonts for reuse */

/* font-family: 'Dancing Script', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Pacifico', cursive; */

.intro {
  font-family: "Open Sans", sans-serif;
}

.para {
  line-height: 1.7em;
}

/* ! footer css */
.social {
  width: 70%;
  gap: 15px;
  font-size: 30px;
}

i {
  color: white;
}
